.wrapper {
  margin: 0 auto;
  padding: 0;
  background: fixed red url(img/bg3.jpg) center no-repeat;  
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keys {
  width: 750px;
  height: 400px;
  background-color:rgba(255, 255, 255, 0.7);    
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 10;
  
}

.key {
  width: 130px;
  height: 130px;
  border: 2px solid rgb(253, 188, 48);
  border-radius: 50%;  
  background-size: contain;
  z-index: 50;    
}

.active {
  border: 3px solid rgb(245, 217, 4);
  box-shadow: 0 0 15px rgb(232, 253, 36);
}

.key_0 {
  background-image: url(img/0.png) ;   
}
.key_1 {
  background-image: url(img/1.png) ;   
}
.key_2 {
  background-image: url(img/2.png) ;   
}
.key_3 {
  background-image: url(img/3.png) ;   
}
.key_4 {
  background-image: url(img/4.png) ;   
}
.key_5 {
  background-image: url(img/5.png) ;   
}
.key_6 {
  background-image: url(img/6.png) ;   
}
.key_7 {
  background-image: url(img/7.png) ;   
}
.key_8 {
  background-image: url(img/8.png) ;   
}
.key_9 {
  background-image: url(img/9.png) ;   
}