$color-base-red: #F06C64;
$color-border-red: #EA676B;
$color-logo-menu: #ffffff;
$color-bg-dark: #2D303A;
$color-border-header-portfolio: #323746;
$color-bg-services: #F2F2F2;
$color-border-services: #FFFFFF;
$color-title-services-portfolio: #666D89;
$color-icon-services: #666D89;
$color-text-services-portfolio: #767E9E;
$color-text-tag-portfolio: #767E9E;
$color-tag-active: #ffffff;
$color-text-icon-footer: #666D89;

$content-width: 1020px;
$tablet-width: 768px;
$mobile-big-width: 375px;
$mobile-small-width: 320px;

