@mixin font ($size, $weight: normal, $height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin columns ($width) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  >* {
    flex-basis: $width;
  }
   
}