.footer {
  background-color: $color-bg-dark;
  margin: 0;
  padding: 22px 42px 20px 40px;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //padding: 22px 42px 22px 40px;
  @include media-mobile {
    justify-content: center;
  }
  @include media-mobilesmall{
    justify-content: center;
  }
}

.footer__text {
  @include font ($size: 1.3rem, $weight: 900, $height: 1.8rem);
  color: $color-text-icon-footer;
  margin: 0;
  padding: 0;
  &:hover {
    color: lighten($color: $color-text-icon-footer, $amount: 10%);
  }
  @include media-mobile {
    display: none;
  }
  @include media-mobilesmall{
    display: none;
  }
}


.footer__social-buttons {
  margin: 0;
  padding: 0;
 
}


.social-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0 0 0 7px;
  border: 1px solid $color-text-icon-footer;
  border-radius: 50%;
  &:hover {
    //border-color: lighten($color: $color-text-icon-footer, $amount: 100%);
    border-color: $color-bg-dark;
    box-shadow: 0 0 7px inset rgba($color: lighten($color: $color-text-icon-footer, $amount: 70%), $alpha: 0.7);
  }
}

.ico-facebook {
  background-image: url(../img/footer/ico-facebook--nocircle.svg);
}

.ico-google {
  background-image: url(../img/footer/ico-google-plus--nocircle.svg);
}

.ico-twitter {
  background-image: url(../img/footer/ico-twitter--nocircle.svg);
}

.ico-linkedin {
  background-image: url(../img/footer/ico-linkedin--nocircle.svg);
}