.header {
  background-color: $color-bg-dark;
  border-bottom: 6px solid $color-border-header-portfolio;
  padding: 29px 40px 39px 40px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__name {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -3%;
  color: $color-logo-menu;
}

.logo__star {
  display: inline-block;
  font-size: 2.5rem;
  color: $color-base-red;
}