.header {
  background-color: $color-bg-dark;
  border-bottom: 6px solid $color-border-header-portfolio;
  //padding: 29px 40px 33px 40px;  
  //position: fixed;
  //top: 0;
  @include media-mobile {
    //padding: 24px 0 23px 0;
    border-bottom: 3.35px solid $color-border-header-portfolio;
    
  }
  @include media-mobilesmall {
    //padding: 24px 0 23px 0;
    border-bottom: 3.35px solid $color-border-header-portfolio;
  }

  
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29px 40px 33px 40px;
  @include media-mobile {
    justify-content: center;
    padding: 24px 0 23px 0;
  }
  @include media-mobilesmall {
    justify-content: center;
    padding: 24px 0 23px 0;
  }
  
}

.logo {
  display: flex;
  flex-wrap: nowrap;
}

.logo__name {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Lato', Verdana, sans-serif;
  @include font ($size: 2.5rem, $weight: 700, $height: 3.0rem);
  letter-spacing: -3%;
  color: $color-logo-menu;
  padding: 0;
  margin: 0;
  @include media-mobile {
    @include font ($size: 2.0rem, $weight: 700, $height: 2.4rem);
  }
  @include media-mobilesmall{
    @include font ($size: 2.0rem, $weight: 700, $height: 2.4rem);
  }
 
}

.logo__star {
  display: inline-block;
  font-size: 2.5rem;
  color: $color-base-red;
  
}

.navigation {
  display: flex;
  text-transform: uppercase;
  font-family: 'Lato', Verdana, sans-serif;
  @include font ($size: 1.2rem, $weight: 700, $height: 1.44rem);
  letter-spacing: -3.5%;
  padding: 13px 0 0 0;
  margin: 0;
  @include media-mobile {
    display: none;
  }
  @include media-mobilesmall {
    display: none;
  }
  
}

.navigation__link {
  list-style: none;
  //list-style-position: inside;
  //padding: 0 10px;
  //margin-left: 10px;
  cursor: pointer;
  color: $color-logo-menu;
  //&:first-child {
  //  list-style: none;
  //  margin: 0;    
 // }
 
}

.menu {
  text-decoration: none;
  color: $color-logo-menu;
  &:hover {
    color: darken($color: $color-logo-menu, $amount: 20%);
  }
}

.active {
  color: $color-base-red;
  
}

.dot::before {
  content: '.';
  display: inline;
  padding: 0 25px 0 25px;
  font-size: 1.6rem;
  color: $color-logo-menu; 
  
}

.dot-none::before {
  content: '';
  display: inline;
  padding: 0;
  font-size: 1.6rem;

}