.portfolio {
  background-color: $color-bg-dark;
  border-bottom: 6px solid $color-border-header-portfolio;
  margin: 0;
}

.portfolio__title {
  margin: 0;
  padding: 59px 44px 14px 40px;
}

.portfolio__description {
  margin: 0;
  padding: 0 44px 0 40px;
}

//tags

.portfolio__tags {
  display: flex;
  padding: 16px 0 18px 40px;
}

.tag {
  padding: 4px 7px;
  margin-right: 10px;
  @include font ($size: 1.2rem, $height: 1.2rem);
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  &_selected {
    border: 1px solid #BBBBBB;
    color: #DEDEDE;
  }
  &_bordered {
    border: 1px solid $color-text-tag-portfolio;
    color: $color-text-tag-portfolio;
  }
}

//portfolio

.layout-4-column {
  padding: 0 40px 48px 40px;
}

.pic {
  margin-bottom: 20px;
  width: 220px;
  height: 187px;
  cursor: pointer;
}

.portfolio-1 {
  background-image: url(../img/portfolio/portfolio-1.svg);
}

.portfolio-2 {
  background-image: url(../img/portfolio/portfolio-2.svg);
  
}

.portfolio-3 {
  background-image: url(../img/portfolio/portfolio-3.svg);
 
}

.portfolio-4 {
  background-image: url(../img/portfolio/portfolio-4.svg);
  
}

.portfolio-5 {
  background-image: url(../img/portfolio/portfolio-5.svg);
  
}

.portfolio-6 {
  background-image: url(../img/portfolio/portfolio-6.svg);
  
}

.portfolio-7 {
  background-image: url(../img/portfolio/portfolio-7.svg);
  
}

.portfolio-8 {
  background-image: url(../img/portfolio/portfolio-8.svg);
  
}

.portfolio-9 {
  background-image: url(../img/portfolio/portfolio-9.svg);
  
}

.portfolio-10 {
  background-image: url(../img/portfolio/portfolio-10.svg);
  
}

.portfolio-11 {
  background-image: url(../img/portfolio/portfolio-11.svg);
  
}

.portfolio-12 {
  background-image: url(../img/portfolio/portfolio-12.svg);
  
}





