.services {
  background-color: $color-bg-services;
  border-bottom: 6px solid $color-border-services;
  margin: 0;
  //padding: 59px 40px 52px 40px;
}

.services__title {
  margin: 0;
  padding: 59px 44px 18px 40px;
}

.services__description {
  margin: 0;
  padding: 0 44px 27px 40px;
}


.services-item__icon {
  //display: inline-flex;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  padding: 0;
  position: absolute;
  &:hover {
    transform: rotate(360deg);
    transition: all 1s;
     };
}

.item-1 {
  background-image: url(../img/services/services-item-1.svg);
  
  }



.item-2 {
  background-image: url(../img/services/services-item-2.svg);
  
}

.item-3 {
  background-image: url(../img/services/services-item-3.svg);
  
}

.item-4 {
  background-image: url(../img/services/services-item-4.svg);
  
}

.item-5 {
  background-image: url(../img/services/services-item-5.svg);
}

.item-6 {
  background-image: url(../img/services/services-item-6.svg);
}

.layout-3-column {
  padding: 0 40px 46px 40px;

}

.services-item {
  //display: flex;
  //flex-wrap: nowrap;
  //flex-direction: row;
  width: 300px;
  height: 104px;
  padding: 20px 0 0 0;
  position: relative;
  cursor: pointer;
}

.services-item__content {
  //flex-grow: 2;
  //padding: 0 0 0 20px;
  //justify-content: flex-start;
  position: absolute;
  left: 80px;
  
  width: 220px;
  height: 104px;
  overflow: hidden;

}

.services-item__title {
  @include font ($size: 1.8rem, $weight: 900, $height: 1.8rem);
  color: $color-title-services-portfolio;
  margin: 0;
  padding: 0 0 7px 0;
  &:hover {
    color: darken($color:$color-title-services-portfolio, $amount: 15%);
  }
}

.services-item__description {
  @include font ($size: 1.2rem, $height: 2.2rem);
  color: $color-text-services-portfolio;
  text-align: justify;
  margin: 0;
  //overflow: hidden;
  text-align: justify;
}