//burger button

.burger-menu__button {
  display: none;
  position: absolute;
  top: 26px;
  left: 20px;
  width: 25px;
  height: 20px;
  z-index: 50;
  transition: 0.4s;
  //background-color: $color-bg-dark;
  @include media-tablet {
    display: none;
  }
  @include media-mobile {
    display: block;
  }
  @include media-mobilesmall {
    display: block;
  }
}

.burger-menu__lines, .burger-menu__lines::before, .burger-menu__lines::after  {
  position: absolute;
  //display: inline-block;
  width: 25px;
  height: 2.4px;
  border-radius: 5px;
  background-color:#ffffff;
}

.burger-menu__lines {
  top: calc(50% - 1.2px);
  left: 0;
  
}

.burger-menu__lines::before {
  content: '';
  top: -7.6px;
}

.burger-menu__lines::after {
  content: '';
  top: 7.6px;
}

.burger-menu_active .burger-menu__button {
  transform: rotate(-90deg);
  position: fixed;  
}

/*.burger-menu_active .burger-menu__lines {
  transform: rotate(90deg);
}

.burger-menu_active .burger-menu__lines::before {
  top: 0;
  transform: rotate(90deg);
}

.burger-menu_active .burger-menu__lines::after {
  transform: rotate(-90deg);
}*/

//burger container

.container_burger-menu {
  display: none;
  position:fixed;
  width: 278px;
  height: 100vh;
  background-color: $color-bg-dark;
  z-index: 30;
  //left: 0px;
  top: 0;
  left: -100%;
  transition: 0.4s;
  overflow-y: auto;
  @include media-tablet {
    display: none;
  }
  @include media-mobile {
    display: block;
  }
  @include media-mobilesmall {
    display: block;
  }
}

.burger-menu_active .container_burger-menu {
  left: 0;
}

.logo__burger {
  position: absolute;
  top: 24px;
  left: 71px;
  z-index: 40;
  display: flex;
  flex-wrap: nowrap;  
}

.logo__name__burger {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Lato', Verdana, sans-serif;
  @include font ($size: 2.0rem, $weight: 700, $height: 2.4rem);
  letter-spacing: -3%;
  color: $color-logo-menu;
  padding: 0;
  margin: 0;  
}

.logo__star__burger {
  display: inline-block;
  font-size: 2.5rem;
  color: $color-base-red;  
}

.burger-menu__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 232px;
  left: 71px;
  width: 205px;
  height: 210px;
}

.menu_burger {
  text-transform: uppercase;
  font-family: 'Lato', Verdana, sans-serif;
  @include font ($size: 2.4rem, $weight: 700, $height: 2.88rem);
  letter-spacing: -3.5%;
  list-style: none;
  color: $color-logo-menu;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

//container overlay

.burger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.burger-menu_active .burger-menu__overlay {
  display: none;
  background-color: #2D303A;
  opacity: 0.6;
  @include media-tablet {
    display: none;
  }
  @include media-mobile {
    display: block;
  }
  @include media-mobilesmall {
    display: block;
  }
}
  